<div class="modal fade hide" id="email-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Email</h3>
    </div>
    <div class="modal-body">
        <form>
            <label>Subject</label>
            <input type="text" name="subject"/>
            <label>Message</label>
            <textarea name="message" />
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript: void(0)" class="btn close-modal" data-dismiss="modal">Close</a>
        <a href="javascript: void(0)" class="btn btn-primary" id="send-email">Send</a>
    </div>
</div>
